/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header p, footer p {
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

section {
    padding: 50px 0;
}

section:nth-child(even) {
    background-color: #f4f4f4;
}
